*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}
/***********************************************************************
*NAVBAR SECTION
fondo=color: #62474f;
#aa3939;
texto=color:#ffaaaa;
font-family: 'Indie Flower', cursive;
font-family: 'Didact Gothic', sans-serif;
 
***********************************************************************/

.navbar, .navbar-default{
  font-family: 'Indie Flower', cursive;
  font-size: 1.8rem;
  font-weight: bold; 
}

.navbar-default .navbar-nav>li>a{
  list-style: none;
  color: #62474f;
}

.img .btn-nav{
  background-color : #aa3939;
}
.navbar-inverse .navbar-nav>li>a:hover { 
  font-size: 3vw;
}

.navbar, .navbar-default, .navbar-header{
  padding: 0;
  margin: 0;
}

.opaque-navbar {  
  width: 80%;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
}
 
.user1{
  width: 12%;
  border-radius: 180%;
  margin-top:-1rem;

}
/****************tamaño del usuario*********************/

.navbar-nav .img-li {
  width: 10%;
  height: 10%;
  margin-top: -2%;
}

  .user {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;

}
/*******************fin**************************************/

.opaque-navbar.opaque {
  transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
  background-color: #62474f;
}

/****Hover del menu******/
.nav, .navbar-nav{
width: 90%;
margin: 2rem;
}

.menu-bar a:hover{
  border-bottom: 0.2em solid #006e8e !important;
  border-radius: 1rem !important;

}
.icon-color{ color:#006e8e;}
.icon-color:hover{
  color:#f5b108;
  font-size: 2.5rem;
}

.btn-danger{
  font-size: 1.7rem;
  padding: 1rem;
  margin: 1rem;
   }

/***********************************************************************
slider css
***********************************************************************/
.col-xs-12{
  margin: 0;
  padding: 0;
}

h2{
  color: #550000;
  border-radius: 3rem;
  border-bottom: .2em solid #aa3939;;
  border-top: .2em solid #aa3939;
  
}

h1{
 font-weight: bold;
 color: #aa3939;
}

.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 500%;
  animation: cambio 20s infinite; 
  animation-direction: alternate;
  margin:0;
  padding: 0;
}

.slider li{
  display: inline-block;
  list-style: none;
  width: 100%;  
  font-size:3vw;
  text-decoration: none;
  padding: 0%;
  margin: 0;
}

.slider img{
  width: 100%;
  z-index: 1000;
  padding: 0;
  margin: 0; 
}


@keyframes cambio{
  0% { margin-left: 0;}
  10% { margin-left: 0;}
  20%{ margin-left:-100%;}
  30% { margin-left: -100%}

  40%{ margin-left:-200%;}
  50% { margin-left: -200%}

  58%{ margin-left:-300%;}
  77% { margin-left: -300%}

  85% { margin-left: -400%;}
  100%{ margin-left:-400%;}
  
}

.dateImg{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: -20%;
  color: #d55454;
  
}
/*
.lamina-one {
  position: absolute;
  top: 30rem;
  display: inline-block;
  width: 100%;
  height: 12vh;
  background-color: rgba(0, 4, 15, 0.7);
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

/*********icono volver a atras********/
/*
.position-icons{
  position: absolute;
  top:3rem;

}
/************************ICONOS REDES************************/
/*
a {
  text-decoration: none;
  color: black;
}

.btn:hover {
  background: #fac3e1;
}

.icon-redes{
  display:inline-block;
  margin-left: 15rem;
}
*/


/**************************************
PLANIFICA
***************************************/
.font-one{
  font-family: 'Didact Gothic', sans-serif;
}
.peligro{
  display: none;

}
.elige-ciudad{
  margin: 2rem;
  font-size: 1.8rem;
  color: #006e8e;
}
.btn {
  padding: .2rem .3rem .2rem .3rem;
  background: #006e8e;
  font-size: 2rem;
  margin: 0.5rem;
}

.btn a{
  text-decoration: none;
  color:white;
}

.btn a:hover {
  color:#006e8e;
}

.btn:hover{
  padding: .2rem .3rem .2rem .3rem;
  background: rgb(128, 217, 241);
  font-size: 2.5rem;
  margin: 0.5rem;  
}

/************FIN PLANIFICA*******************/

/**************************************
BODY-FOTOS-UBICACION
***************************************/
.font-one{
  font-family: 'Didact Gothic', sans-serif;
}

.title-body-home{
  font-size: 2vw;
  color:#62474f;
  font-weight: bold;
}

.title-body-home-parr-f{
  font-size: 1.3vw;
  background-color : #006e8e;
  color: white;
}
.title-body-home-parr {
  font-size: 1vw;
  color: #006e8e;
}

.a-click {
  color: #550000;
}

.list-img-places ul {
  list-style: none;
  display: inline; 
  width: 100%;
  text-align: center;  
}

.list-img-places ul li{
  float: left;
  outline:none;
  text-align: center; 
   margin-left: 5rem;
 
}
.fond-img{
  background-color:#f2f2f2;
}
.space-col, .space-col ul li img{
  padding: 1.5rem;
  border-color: 2px solid #550000;
  text-align: center;

}
.fa-square-o {
  background: #d55454;

}
.icon-position {
  display: flex;
  flex-direction: column;
  justify-content:center;    
}

.text-rigth{
  display: inline-block;
  margin-right: 0%;
}

/**************************************
FOOTER
***************************************/
footer{
  font-family: 'Indie Flower', cursive;
}

.title-footer{
  font-size: 2.5rem;
}
.transp{
  position: relative;

}
.lamina { 
  position: absolute;
  top:1px;
  display: inline-block;
  width: 100%;
  height:49.5vh;
  background-color:rgba(0, 4, 15,0.8);
  margin: 0;
  padding:0;
}
.img-footer{
width: 100%;
}
.list-li  {
  list-style: none;
  display: inline-block;

}
.list-li li{
  float: left;
  line-height: 1rem;
  padding: .6rem;
  font-size: 2rem;
  background: #d55454;  
  border-radius: 0.5rem;
  margin:0.4rem;
  background-color: white;
  border: none;
  color: #f09bb4;
  
  
}
  .list-li li i{
  background-color: white;
  color:#550000;
}

.list-li li:hover {
  background-color:#d55454;
  color: white;
  border-radius: 50%;
}

.list-li li i:hover {
  background-color: #d55454;
  color: white;
}

.container-fluid p{
  color: white;
  font-weight: bold;
}

.list-dest .list-destino{
text-decoration: none;
}

.list-destino li:hover{
color:#550000;  
}

.actividades li { 
  text-decoration: none;
  list-style: none;

}
.actividades li a {
  color: rgb(116, 113, 113);
  text-decoration: none;
}

.actividades :hover {
  color: white;
}


/**************************************
MEDIA QUERY
***************************************/

@media only screen 
and (min-device-width: 250px) 
and (max-device-width: 767px){
.list-img-places ul li {
  float: left; 
  outline: none;
  text-align: center;
  margin-left: 8rem;
}

.lamina {
  text-align: center; 
  height: 63vh;
  background-color: rgba(0, 4, 15, 0.8); 
}
.title-body-home {
  font-size: 2rem;
}

.title-body-home-parr {
  font-size: 1.8rem;
}

.title-body-home-parr-f {
  font-size: 1.7rem;
}

.text-footer {
  font-size: 2rem;
  text-align: center;
}

.line{
  display:none;
}
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1127px) {
.list-img-places ul li {
  float: left;
  outline: none;   
  margin: .5rem;
  width: 30%;
 }

.opaque-navbar {
  width: 98%;
}

.lamina {
  text-align: center;
  height: 35vh;
  background-color: rgba(0, 4, 15, 0.8);
}

.title-body-home {
  font-size: 2.5rem;
}

.title-body-home-parr {
  font-size: 1.5rem;
}

.title-body-home-parr-f {
  font-size:2rem;
}

.text-footer {
  font-size: 2rem;
  text-align: center;
}

}