/*Configuracion inicial de la página*/
/*Resetendo el layout */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

/*Css para la página planning*/

.help{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

.icon{
  width:3rem;
  
}

.small-font { 
  font-size:2vh; 
}

.margin-top{
  margin-top: 4vh;
}

.coin{
  height:6rem;
  width:6rem;
  border: 3px dotted #ffff00;
  border-radius: 25rem;
  background: linear-gradient(to bottom right, #ccff33 0%, #ffff66 100%);
  font-size:2em;
  padding-top:0.5em;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.help{
  display: flex;
  flex-direction:column;
}

.space-between{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
