 /* GENERALES */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

.logo-login{
  width: 17%;
  border-radius: 180%;
  margin: 2rem;
  border:2px solid #df017c;
}

.background-nav{
	background-color: transparent;
}

.style-btn:hover{
  color:#df017c;
  border-bottom: 1px solid #df017c;
}

.margin-top{
  margin-top:5vh;

}





/*FONDO PRINCIPAL*/

.color-button{
	background-color: #F9088A;
	margin: 5px;
}
/*  Se cambio colores de navbar */ 

.color-button-menu{
  color: black!important;
  border-radius: 100%;
  border: 2px solid white;
  background-color: white;
  opacity: 0.9;
  margin: 0.3em 0.3em 0em  0em;
  size: 4em;
}

span {
  color: black;
  font-family: 'Leckerli One', cursive;
  font-size: 1em;
}
 .color-button-menu:hover {
  color: #ffffff; 
}
 /* fin cambio de colores de navbar */

h3{
	font-size: 1.5em;
}

/* Main */

.style-main{
  margin-top: 0;
}

.border-post{
  border-radius: 5rem;
  border: 1px solid #df017c;
  padding: 2rem;
  margin: 0 4rem 4rem 4rem; 
}

.post {
  border: 0;
  width: 100%;
  height: 10rem;
  outline: 2px solid #df017c;
  font-size: 12px;
  color: rgb(2, 18, 29);
}

.main-fondo {
  background-image: url(../assets/img/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.position-flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.form-fondo-one {
  margin-top:5%;
  width:100%;
  height: auto;
  padding: 2%;
  display: inline-block;
}

.container-img3 {
  width:100%;
  background-image: url(../assets/img/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.position-face-friends{
  position:absolute;
  top:-30%;
  left: -5%;
}

.border-data-friends{
  border-radius: 1rem;
  padding: 2rem;
}

.width-icono-login {
  width:10rem;

}

.button-style-friends{
  background-color: #F9088A;
  color: white;
}

.button-style-friends:hover{
  color : #F9088A;
  background-color:pink;
}
/* Bordes de formulario */
.form-registro{
  color: #F9088A;
  background-color:pink;
  padding:2rem
}

/* Footer */

.container-footer{
  background-image: url(../assets/img/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.border-post1 {
  border-radius: 5rem;
  border: 1px solid #df017c;
  padding: 2rem;  
}

.cont-footer {
  width: 100%;
  background-color:transparente;
  display: inline-block;
  padding: 2rem 1rem 1rem 1rem;
}

.date-footer {
  color: white;
}

.list i {
  color: white;
}

.list {
  display: inline-block;
  text-decoration: none;
}
 
ul li {
  float: left;
  padding: 0.5rem;
  text-decoration: none;
  list-style: none;
}

.img-footer {
  margin-top: 2rem;
}
 
.img-footer-sm {
  margin-top: 9rem;
}

.footer-date {
  color: white;
}

.list-sm {
  padding: 2rem 0 0 0;
}

.spacing {
  width: 15%;
  height: 100px;
}

.background {
  display: inline-block;
  width: 100%;
  background-color: rgb(7, 0, 0);
  opacity: 0.7;
}

.form-fondo-one-sm {
  margin-top: 0%;
  width: 100%;
  height: auto;
  padding: 2%;
  display: inline-block;
  z-index: 1000;
}

.img-width{
  width: 80%;
}

.width-logo{
  width: 10rem;
  margin:2rem;
}




.style-a{
  border-radius: 5rem;
  border: 1px solid #ece9eb;
  padding: 2rem;
  color: black;
}

.post-foto{
  height:10rem;
}

/* Perfil de amigos*/

  .widht-img-header{
  width: 30rem;
  position:absolute;
}

/*Css de las publicaiones*/

.container-post {
  padding: 1rem;
  border:solid 1px red;
  margin:2rem;

}
.date-post{
 
  padding-top: 1rem;
}

.post-perfil{
  border:solid 1px blue;
  padding: 1rem;
}
/*Clases de footer*/
