*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/*****************************************************************
NAVBAR
******************************************************************/
.vw{
  font-size: 1vw;
}

.vw1 {
  font-size: 1.5vw;
}

.vw2{
  font-size: 3vw;
}

.sect-info-form h4{
  color: #d55454;
}

.navbar-nav .img-li{
  width: 10%;
  height: 10%;
  margin-top:-2%;

}

.user {
  display: inline-block;
  width: 100%;
  padding: 0%
}

.user1 {
  display: inline-block;
  width: 25%;
  padding: 0%
}
.navbar-nav {
 margin: 1rem;
}

.navbar-default .navbar-nav>li>a{
  list-style: none;
  color:#ffaaaa;
  font-size:15px;
}

.navbar-nav>li>a{
  padding-top:1rem;;
  margin: 0;
}
.btn-mobile{
   background-color: #62474f;
}
.navbar-inverse .navbar-nav>li>a:hover { 
  font-size: 3vw;

}

.navbar, .navbar-default{
  padding: 0;
  margin: 0;
  background-color:#62474f;

}

.opaque-navbar {
  background-color: #62474f;
  Transparent:rgba(0,0,0,0);
  Translucent: rgba(0,0,0,0.5);   
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
  }
 

.opaque-navbar.opaque {
  transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
  background-color: #62474f;
}

/***********************************************************************
slider css
***********************************************************************/
.col-xs-12{
  margin: 0;
  padding: 0;
}

h2{
  color: #ffaaaa;
  background-color: #550000;
}

h1{
 font-weight: bold;
 color: #aa3939;
}

.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 500%;
  animation: cambio 20s infinite;
  animation-timing-function: ease-in;
}

.slider li{
  display: inline-block;
  list-style: none;
  width: 100%;  
  font-size:3vw;
  text-decoration: none;
  padding: 0%;
  margin: 0;
}

.slider img{
  width: 100%;
  z-index: 1000;
  padding: 0;
  margin: 0; 
}

@keyframes cambio{
  0% { margin-left: 0;}
  10% { margin-left: 0;}
  20%{ margin-left:-100%;}
  30% { margin-left: -100%}

  40%{ margin-left:-200%;}
  50% { margin-left: -200%}

  58%{ margin-left:-300%;}
  77% { margin-left: -300%}

  85% { margin-left: -400%;}
  100%{ margin-left:-400%;}
  
}

.dateImg{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-top: -25%;
  color: white;
}

/*****************************************************************
Iconos desplazamiento viewpors
******************************************************************/
.position-icons{
  position: absolute;
  top:3rem;

}
/*****************************************************************
Iconos redes sociales
******************************************************************/
.btna a{
  text-decoration: none;
  list-style: none;
  color: #fac3e1;
  background-color: #aa3939;
  padding: 1rem;
  border-radius: 1rem;
}

.dateIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -9rem;
  
}
.btna a:hover {
  background: #fac3e1;
  color: #550000;
}

.btn {
  padding: .5rem 1rem .5rem 1rem;
  background: #e28484;
  color: #fac3e1;
  font-size: 1vw;
  margin:2rem 2rem 0rem 0;
  border: none
}

a {
  text-decoration: none;
  color: #550000;
  font-size: 1.4vw;
}

.btn:hover {
  background: #fac3e1;
  color:#550000;
}

.icon-redes{
  display:inline-block;
  margin-left: 15rem;
}

/*****************************************************w***********
Footer
******************************************************************/

.container-footer{
  background: #d55454;
  font-size: 14px;
  margin: 0 4rem 0 4rem;
  color: white;

}

.container-fo{
   background: #d55454;
}

.list-li  {
  list-style: none;
  display: inline-block;

}
.list-li li{
  float: left;
  line-height: 1rem;
  padding: 1rem;
  font-size: 2rem;
  background: #d55454;
  border: 2px solid white;
  border-radius: 50%;
  margin:0.1rem;
  background-color: white;
  border: none;
  color: #f09bb4;  
  
}
.info{
   font-size: 12px;
}
  .list-li li i{
    background-color: white;
    color:#550000;
    font-size: 12px;
  }
  .list-li li:hover {
    background-color:#d55454;
    color: white;
    border-radius: 50%;
  }
   .list-li li i:hover {
     background-color: #d55454;
     color: white;
   }
   

.actividades li a{ 
  text-decoration: none;
  list-style: none;
  color:white;
  font-size: 12px;
}
.actividades li a:hover {
  color: #442a2a;
  border-bottom:1px solid #550000;
}

/************************/

.sect-form{
  margin-top:5%;
}
.section-form {
  padding: 3rem;
  margin: 3rem;
  border-radius: 2%;
  border: 1px solid #ffaaaa;  
}

.section-form1 {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ffaaaa;;
}

.item img {
  width: 100%;
}


/***Seccion subir photos***/

.container-information {
  margin: 2rem;
  padding: 2rem;
}
.icon-money span i{
 font-size: 3rem;
 color: white;
}


/***********Usando media query**********/


@media only screen 
and (min-device-width: 350px) 
and (max-device-width: 767px){

  
}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

}

