*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif !important;
}
.main-fondo {
  height: 120vh;
  background-image: url(../assets/img/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heigth {
    height: 50vh;
}
.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.logo {
  animation-duration: 5s;
  animation-name: slidein;
}
@keyframes slidein {
    from {
      opacity: .5;
      margin-left: 100%;
      width: 300%;
      -webkit-transform: scale(1.3);
      transform: scale(3);
      border-radius: 50%;
   
      box-shadow: 0px 0px 15px 15px #ec731e;
      -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
        background: red;
     }
    to {
      margin-left: 0%;
      width: 100%;
      opacity: 2;
    }
}

