<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>warmiaap</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/perfil.css">
</head>
<body>
<!--....................NAVBAR.............................-->
						<!---BARRA DE NAVEGACION-->
	<header>
		<nav class="navbar-default navbar-fixed-top background-nav" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- clase pra cambiar de lugar el menu hamburgueza -->
					<div class="display-menu-principal">
						<button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#myNavbar">
							<span class="sr-only">navegacion</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="image-logo">
							<a class="navbar-brand" href="#">
							<!-- <img class="img-responsive" alt= "Brand" src="assets/images/logoForma.png"> -->
							</a>
						</div>
					</div>
				</div>
									<!--MENU-->
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span>mis viajes</span></a></li>
						<li><a href="#"><span>mis amigos</span></a></li>
						<li><a href="#"><span>mi perfil</span></a></li>
					 </ul>
				</div>
			</div>
		</nav>
	</header>
	<main  class="container-fluid conteiner-principal main-margin">
		<section class="section">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="div-vertical">
						<img width="150" class="center-block  img-responsive" src="../assets/images/login-modal.png">
						<span class="text-center">Nombre de usuario</span>
						<a href="#editar-perfil" class="btn btn-default color-button" data-toggle="modal">Editar perfil</a>
						<a href="#emergencia" class="btn btn-default  color-button text-center" data-toggle="modal">Boton de emergencia</a>
						<div class="dias-faltantes">
							<span class="text-center">Cuenta regresiva</span>
							<span>10 dias</span>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-6">
							<span class="text-center">Monedero viajero</span>
							<span class="text-center monedero">$500</span>					
						</div>
						<a href="#cerrar" class="btn btn-default color-button" data-toggle="modal">Cerrar sesion</a>
					</div>
				</div>
	
				<!-- MODALES -->
				<div class="modal fade" id="editar-perfil" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								Tu Perfil
							</div>
							<div class="modal-body">
								<form>
									<div class="col xs-12">
										<div class="form-group">
										    <label for="exampleInputEmail1">Nombre completo</label>
										    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
										</div>
										<div class="form-group">
										    <label for="exampleInputPassword1">Nombre de usuario</label>
										    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Usuario">
										</div>
										<div class="form-group">
										    <label for="exampleInputEmail1">Correo Electronico</label>
										    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
										</div>
										<button type="button" class="btn btn-lg btn-block aqua">ENVIAR</button>
									</div>
								</form>
							</div>			
						</div> <!--modal content-->
					</div> <!--modal dialog-->
				</div> <!--modal fade-->
						<!-- FIN DE MODAL REGISTRATE -->

				<div class="col-sm-9 col-md-9">
							<div class="friend">
								<span>WELCOME</span><span>Nombre</span>
								<div class="form-group">
 									<textarea class="form-control" rows="5" id="comment" placeholder="¿Donde estas?"></textarea>
								</div>

							</div>
						</div>
		</div>
	</section>	
<!-- 			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-6">
					<a href="#planificar" class="btn btn-default btn-lg" data-toggle="modal">Planificar viaje</a>
				</div>
			</div> -->
	<!-- PLANIFICAR VIAJE -->
			<div class="modal fade" id="planificar" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Tu Perfil</h1>

					</div>
				</div>
			</div>
		</main>
		

	    <!-- Js de bootstrap-->
	<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Js para la página-->
    <!-- <script type="text/javascript" src="../js/app.js"></script> -->
</body>
</html>  