<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>warmiaap</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../css/home.css">
   
</head>
<body>
  <!--Añadiendo slider-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="slider">
        <ul>
          <li><img class="img-responsive"
            src="../assets/img/andes.jpg" alt=""> <h1 class="dateImg text-center "> 
           Vive tu propia experiencia salvaje...Camina por los andes...</h1> </li>
          <li><img class="img-responsive" src="../assets/img/paracas.jpg" alt=""><h1 class="dateImg text-center">
          Paracas full aventura..te atreverias?...</h1></li>
          <li><img class="img-responsive" src="../assets/img/cusco.jpg" alt=""><h1 class="dateImg text-center">
           Cusco magestuoso...atrevete a visistarlo</h1></li>
          <li><img class="img-responsive" src="../assets/img/trujillo.jpg" alt=""><h1 class="dateImg text-center">
         Conociendo nuestras costumbres...atrevete</h1></li>
           <li><img class="img-responsive" src="../assets/img/huacachina.jpg" alt="">
         </li>                
        </ul>
      </div>
    </div>
  </div>
</div>
<!--****************************************** * Responsive Transparent Navbar *********************************************************-->
<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../assets/img/logomujerchica.png" alt=""></a>
    </div>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="nav navbar-nav pull-right">
          <li class="active">
            <a href="#"> Home</a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-pencil" aria-hidden="true"> </i> Planea tu viaje</a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-plane" aria-hidden="true"> </i> Mis Viajes</a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-female" aria-hidden="true"></i> Amigas</a>
          </li>
        </ul>
      </div>
  </div>
</div>
<!--ICONOS REDES SOCIALES-->
  <div class="container ">
    <div class="row center-block icon-position">
      <div class="col-xs-12 col-sm-12">
        <span class="btn">
          <a href=""> <i class="fa fa-facebook" aria-hidden="true"> </i></a>
        </span>
        <span class="btn">
          <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </span>  
        <span class="btn">
          <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </span>
        <span class="btn">
          <a href=""><i class="fa fa-apple" aria-hidden="true"></i></a>
        </span>
        <span class="btn">
          <a href=""><i class="fa fa-play" aria-hidden="true"></i></a>
        </span>
        <span class="btn text-right">
          <a href=""><i class="fa fa-pencil" aria-hidden="true"> Planifica tu viaje AQUI</i></a>
        </span>
      </div>
    </div>
  </div>
<!--Section-01-->
<section>
  <div class="container">
    <div class="row">
        <div class="col-xs-4">
          <div class="space-col"> 
            <h2 class="text-center">Novedades</h2>
            <p> 13 de Enero de 2018</p>
            <h3> Hallan en San José de Moro ceramio de ritual de un entierro </h3>
            <p>Nueva tumba ubicada muy cerca de Chepén muestra influencia de la cultura Wari entre los mochicas, sostiene investigador</p>
            <a href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos">Clik aqui y revisa la noticia completa</a>
            <hr>
            <h3> Cuatro destinos para escaparte de la ciudad </h3>
            <p> 13 de Enero de 2018</p>
            <a href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos">Clik aqui y revisa la noticia completa</a>
            <hr>
            <h3> Lista de Museos Gratis para que visites en fin de semana </h3>
            <p> 13 de Enero de 2018</p>
            <a href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos">Clik aqui y revisa la noticia completa</a>
            <hr>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="space-col">
          <div>
          <h2 class="text-center">Que lugares visitar si estas en lima</h2>
        </div>
        <div class="row">
          <div class="list-img-places">
            <ul>
              <li><img class="img-responsive" src="../assets/img/l1.png" alt="">
              <li><img class="img-responsive" src="../assets/img/l2.png" alt="">
              <li><img class="img-responsive" src="../assets/img/l3.png" alt="">                          
            </ul>
          </div>
        </div>
          <div class="row">
          <div class="list-img-places">
            <ul>
              <li><img class="img-responsive" src="../assets/img/l4.png" alt="">
              <li><img class="img-responsive" src="../assets/img/l5.png" alt="">
              <li><img class="img-responsive" src="../assets/img/l6.png" alt=""> 
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- Js de bootstrap-->
<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/home.js"></script>

</body>
</html>  