<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Warmi Trip</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
  <!-- Estilo para los iconos -->
  <!--<link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/icons/maleta.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/home.css">

</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <div class="pull-rigth">
        <button type="button " class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="pull-right">
        <a class="navbar-brand flex" href="#">
          <img class="img-responsive" src="" alt="">
        </a>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-ex1-collapse pull-right opaque-navbar">
      <ul class="nav navbar-nav ">
        <li class="menu-bar"><a href="home.html"><span class="glyphicon glyphicon-hand-left icon-color" aria-hidden="true"></a></li>
        <li class="menu-bar"><a href="#"> Home</a></li>
        <li class="menu-bar"><a href="#"><i class="fa fa-plane icon-color" aria-hidden="true"> </i> Mis Viajes</a></li>
        <li class="menu-bar"><a href="#"><i class="fa fa-female icon-color" aria-hidden="true"></i> Amigas</a></li>
        <li class="menu-bar"><a id="btn-logout" href="#"><i class="fa fa-sign-in icon-color" aria-hidden="true"></i> Sign Out</a></li>
        <li class="img-li"><a href="profile.html"><img id="img-perfil" class="img-responsive user img-rounded" src="" alt=""> </a></li>
        <li class="menu-bar"><a href="#"><span class="glyphicon glyphicon-hand-right icon-color" aria-hidden="true"></a></li>
        <li><button type="submit" class="btn1 btn-danger btn-sm " id="btn-danger">¡Peligro!!!</button></li>
      </ul>
    </div>
  </div>

  <!--Añadiendo Silder-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="slider">
          <ul>
            <li class="squad" >
              <img class="img-responsive" src="../assets/img/andes.jpg" alt="">
              <p class="dateImg text-center contenido">
                Vive tu propia experiencia salvaje...Camina por los andes...</p>
            </li>
            <li class="squad">
              <img class="img-responsive" src="../assets/img/paracas.jpg" alt="">
              <p class="dateImg text-center contenido">
                Paracas full aventura..te atreverias?...</p>
            </li >
            <li class="squad">
              <img class="img-responsive" src="../assets/img/trujillo.jpg" alt="">
              <p class="dateImg text-center contenido">
                Conociendo nuestras costumbres...atrèvete</p>
            </li>
            <li class="squad">
              <img class="img-responsive" src="../assets/img/cusco.jpg" alt="">
              <p class="dateImg text-center contenido">
                Cusco majestuoso...atrevete a visitarlo</p>
            </li>
            <li class="squad">
              <img class="img-responsive contenido" src="../assets/img/huacachina.jpg" alt="">  
              <p class="dateImg text-center contenido">
                Te gusta Ica...ven y visita la huaca china...</p>          
            </li>
          </ul>
          <div class="lamina-one">
          </div>
        </div>
       </div>
      <div>
    </div>
  </div>
</div>
  <!--BTN Planifica-->
  <div class="container-fluid font-one">
    <div class="row center-block">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block text-center">
        <button type="submit" class="btn1 btn-danger btn-sm peligro" id="btn-danger">!Peligro¡</button>
      </div>
        <div class="col-xs-12 col-sm-12 col-md- 12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block text-center">
          <div class="elige-ciudad" >
            <span>Elige la ciudad que te gustaria conocer:</span>
              <select id="select-ciudad">
                <option value="Cajamarca">Cajamarca </option>
                <option value="Cuzco">Cuzco</option>
                <option value="Ica">Ica</option>
              </select>
        </div>
       </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block text-center">
        <span class="btn text-right">
          <a id="btn-plan" href="#" class="">
            <i class="fa fa-pencil" aria-hidden="true"> Planifica tu viaje AQUI  </i>
          </a>
        </span>
      </div>
    </div>
  </div>
    <!--Section-01-->
  <section>
    <div class="container-fluid fond-img font-one">
      <div class="row center-block">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 visible-xs-block visible-sm-block visible-md-block visible-lg-block">
          <div class="space-col center-block">
            <h3 class="text-center title-body-home">Novedades</h3>
            <h4 class="text-justify title-body-home-parr-f "> 13 de Enero de 2018</h4>
            <h4 class="text-justify title-body-home-parr"> Hallan en San José de Moro ceramio de ritual de un entierro </h4>
            <h4 class="text-justify title-body-home-parr">Nueva tumba ubicada muy cerca de Chepén muestra influencia de la cultura Wari entre los mochicas, sostiene
              investigador</h4>
            <a class="title-body-home-parr a-click" href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos" target="_blank">Click aqui y revisa la noticia completa</a>
            <hr>

            <h4 class="text-justify title-body-home-parr-f"> 13 de Enero de 2018</h4>
            <h4 class="text-justify title-body-home-parr"> Cuatro destinos para escaparte de la ciudad </h4>
            <a class="title-body-home-parr a-click" href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos" target="_blank">Click aqui y revisa la noticia completa</a>
            <hr>

            <h4 class="text-justify title-body-home-parr-f"> 13 de Enero de 2018</h4>
            <h4 class="text-justify title-body-home-parr"> Lista de Museos Gratis para que visites en fin de semana </h4>
            <a class="title-body-home-parr a-click" href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos" target="_blank">Click aqui y revisa la noticia completa</a>
            <hr>

            <h4 class="text-justify title-body-home-parr-f"> 10 de febrero de 2018</h4>
            <h4 class="text-justify title-body-home-parr"> Ritmo Romantica te informa, lugares donde puedes pasarla bien con tu media naranja este 14 de febrero. </h4>
            <a class="title-body-home-parr a-click" href="https://ritmoromantica.pe/programas/vive-siente-ama/lugares-peru-viajes-san-valentin-80689#1" target="_blank">Click aqui y revisa la noticia completa</a>
            <hr>

          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 visible-xs-block visible-sm-block visible-md-block visible-lg-block">
          <div class="space-col">
            <div>
              <h1 class="text-center title-body-home">Que lugares visitar si estas en lima</h1>
            </div>
            <div class="row ">
              <div class="list-img-places">
                <ul>
                  <li>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <img class="img-responsive" src="../assets/img/l1.png" alt="">
                  </li>
                  <li>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <img class="img-responsive" src="../assets/img/l2.png" alt="">
                  </li>
                  <li>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <img class="img-responsive" src="../assets/img/l3.png" alt="">
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="list-img-places">
                <ul>
                  <li>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <img class="img-responsive" src="../assets/img/l4.png" alt="">
                  </li>
                  <li>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <img class="img-responsive" src="../assets/img/l5.png" alt="">
                  </li>
                  <li>
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                    <img class="img-responsive" src="../assets/img/l6.png" alt=""> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer >      
  <div class="container-fluid">  
  <div class="row transp">          
    <img src="../assets/img/footer1.png" class="img-responsive img-footer" alt="">            
      <div class="lamina">
        <div class="col-md-offset-4 col-sm-offset-4 visible-sm-block visible-md-block visible-lg-block visible-xs-block">
          <h1 class="text-center text-footer"> Disfruta...viaja...vive!!!</h1>
            <hr class="line">
        </div>
        <div class="col-md-2 col-sm-2 col-md-offset-4 col-sm-offset-3 visible-sm-block visible-md-block visible-lg-block visible-xs-block">
          <h1 class="title-footer text-footer">Destinos</h1>
            <ul class="actividades">
              <li><a href="" title="_En construccion"><i class="fa fa-flag " aria-hidden="true"> ICA </i> </a> </li>
              <li> <a href="https://www.alanxelmundo.com/" target="_blank"><i class="fa fa-flag " aria-hidden="true"> CAJAMARCA </i> </a> </li>
              <li> <a href="http://misiasperoviajeras.com/" target="_blank"><i class="fa fa-flag " aria-hidden="true"> CUSCO </i> </a> </li>                 
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 visible-sm-block visible-md-block visible-lg-block visible-xs-block">
          <h1 class="title-footer text-footer">Enlaces de interés </h1>
            <ul class="actividades">                 
              <li><a href="" title="_En construccion"> <i class="fa fa-female" aria-hidden="true"> Unete a nuestra comunidad </i> </a></li>                  
              <li> <a href="https://www.alanxelmundo.com/" target="_blank"> <i class="fa fa-globe" aria-hidden="true"> Alan x el mundo </i> </a></li>
              <li> <a href="http://misiasperoviajeras.com/" target="_blank"> <i class="fa fa-globe" aria-hidden="true"> Misias y viajeras </i> </a></li>
              <li> <a href="https://www.redbus.pe/?gclid=Cj0KCQiAv_HSBRCkARIsAGaSsrBjOUwFh429eslBpdc1prNP9M1qyUVs7maxCxGS4MaWS8zclEhglRsaAti_EALw_wcB"
                    target="_blank"> <i class="fa fa-bus" aria-hidden="true"> Red Bus </i>  </a></li>
              <li> <a href="https://www.tripadvisor.com.pe/" target="_blank"> <i class="fa fa-plane" aria-hidden="true"> Trip Advisor </i> </a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h1 class="title-footer text-footer">Siguenos en:</h1>
          <ul class="list-li">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-apple" aria-hidden="true"></i></a> </li>
            <li><a href=""><i class="fa fa-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</footer>
    <!-- Js de bootstrap-->
    <script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Js de Firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script type="text/javascript" src="../js/connect.js"></script>
    <script src="../js/home.js"></script>

</body>

</html>