<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>warmiaap</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../css/home.css">
   
</head>
<body>
                           
<!--***** Navbar *********-->
   <div class="navbar navbar-default">   
        <div class="row">
            <div class="col-xs-12">               
                <div class="navbar-header">               
                    <div class="pull-rigth">
                        <button type="button " class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                            
                        </button>
                    </div>
                        <div class="pull-right">
                            <a class="navbar-brand flex" href="#"> <img class="img-responsive" src="" alt=""></a>
                        </div>
                    </div>                  
                    <div class="navbar-collapse collapse navbar-ex1-collapse pull-right opaque-navbar">
                        <ul class="nav navbar-nav img">
                           <li><a href="../index.html"> <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></a></li>
                            <li class="active btn-nav"><a href="#"> Home</a></li>
                            <li><a href="#"> <i class="fa fa-pencil" aria-hidden="true"> </i> Planea tu viaje</a></li>
                            <li><a href="#"> <i class="fa fa-plane" aria-hidden="true"> </i> Mis Viajes</a></li>
                            <li><a href="#"> <i class="fa fa-female" aria-hidden="true"></i> Amigas</a></li>
                            <li><a href="#"> <i class="fa fa-sign-in" aria-hidden="true"></i> SingOut</a></li>
                            <li  class="img-li"><a href="#"> <img class= "img-responsive user" src="../assets/img/user-female-icon.png" alt=""> </a></li>
                            <li><a href="../views/profile.html"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></a></li>              
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
<!--Añadiendo slider-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="slider">
        <ul>
          <li><img class="img-responsive"
            src="../assets/img/andes.jpg" alt=""> <p class="dateImg text-center "> 
           Vive tu propia experiencia salvaje...Camina por los andes...</p> </li>
          <li><img class="img-responsive" src="../assets/img/paracas.jpg" alt=""><p class="dateImg text-center">
          Paracas full aventura..te atreverias?...</p></li>
          <li><img class="img-responsive" src="../assets/img/cusco.jpg" alt=""><p class="dateImg text-center">
           Cusco majestuoso...atrevete a visistarlo</p></li>
          <li><img class="img-responsive" src="../assets/img/trujillo.jpg" alt=""><p class="dateImg text-center">
         Conociendo nuestras costumbres...atrevete</p></li>
           <li><img class="img-responsive" src="../assets/img/huacachina.jpg" alt="">
         </li>                
        </ul>
      </div>
    </div>
    <div>   
  </div>
</div>
<!--iconos redes sociales-->
   <div class="container ">
      <div class="row center-block icon-position">
      <div class="col-xs-12 col-sm-12 dateImg">
        <span class="btn"><a href=""> <i class="fa fa-facebook" aria-hidden="true"> </i></a></span>
        <span class="btn"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></span>  
        <span class="btn"> <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span class="btn"> <a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></span>
        <span class="btn"> <a href=""><i class="fa fa-play" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</div>
<!--BTN Planifica-->
  <div class="container">
    <div class="row center-block">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-xs-block visible-sm-block visible-md-block visible-lg-block text-center">       
        <span class="btn text-right">
          <a href=""><i class="fa fa-pencil" aria-hidden="true"> Planifica tu viaje AQUI</i></a>
         </span>
      </div>     
    </div>
    <hr class="line">
  </div> 
<!--Section-01-->
<section>
  <div class="container">
    <div class="row center-block">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 visible-xs-block visible-sm-block  visible-md-block  visible-lg-block">
          <div class="space-col center-block"> 
            <h2 class="text-center title-body-home">Novedades</h2>
            <p class="text-justify title-body-home-parr"> 13 de Enero de 2018</p>
            <h3 class="text-justify title-body-home-parr"> Hallan en San José de Moro ceramio de ritual de un entierro </h3>
            <p class="text-justify title-body-home-parr">Nueva tumba ubicada muy cerca de Chepén muestra influencia de la cultura Wari entre los mochicas, sostiene investigador</p>
            <a class="title-body-home-parr" href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos">Clik aqui y revisa la noticia completa</a>
            <hr>
            <h3 class="text-justify title-body-home-parr"> Cuatro destinos para escaparte de la ciudad </h3>
            <p class="text-justify title-body-home-parr"> 13 de Enero de 2018</p>
            <a class="title-body-home-parr" href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos">Clik aqui y revisa la noticia completa</a>
            <hr>
            <h3 class="text-justify title-body-home-parr"> Lista de Museos Gratis para que visites en fin de semana </h3>
            <p class="text-justify title-body-home-parr"> 13 de Enero de 2018</p>
            <a class="title-body-home-parr"href="https://elcomercio.pe/noticias/descubrimientos-arqueologicos">Clik aqui y revisa la noticia completa</a>
            <hr>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 visible-xs-block visible-sm-block  visible-md-block  visible-lg-block">
        <div class="space-col">
          <div>
          <h1 class="text-center title-body-home">Que lugares visitar si estas en lima</h1>
        </div>
        <div class="row ">
          <div class="list-img-places">
            <ul>
              <li><i class="fa fa-square-o" aria-hidden="true"></i><img class="img-responsive" src="../assets/img/l1.png" alt=""></li>
              <li><i class="fa fa-square-o" aria-hidden="true"></i><img class="img-responsive" src="../assets/img/l2.png" alt=""></li>
              <li><i class="fa fa-square-o" aria-hidden="true"></i><img class="img-responsive" src="../assets/img/l3.png" alt=""></li>                                  
            </ul>
          </div>
        </div>
          <div class="row">
          <div class="list-img-places">
            <ul>
              <li><i class="fa fa-square-o" aria-hidden="true"></i><img class="img-responsive" src="../assets/img/l4.png" alt=""></li>              
              <li><i class="fa fa-square-o" aria-hidden="true"></i><img class="img-responsive" src="../assets/img/l5.png" alt=""></li>
              <li><i class="fa fa-square-o" aria-hidden="true"></i><img class="img-responsive" src="../assets/img/l6.png" alt=""> </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!--footer-->

<footer>
 <div class="container-fluid">  
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">  
       <div class="container-footer">
         <h4 class="text-center title-body-home"> Destinos</h4>      
          <hr>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">              
              <ul class="list-dest"> 
                <h3>Ica</h3>
              </ul>
            </div>
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">                      
                      <ul>
                      <h3 >Cajamarca</h3>                                
                      </ul>
                  </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">                      
                      <ul> 
                      <h3 >Cuzco</h3>                                                             
                      </ul>
                    </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">               
                    <h3 class="btn">Actividades</h3>
                    <ul class="actividades"> 
                        <li><a href="" title="_En construccion">Unete a nuestra comunidad</li>
                        <li><a href="">Tips de Belleza</a></li>
                        <li><a href="">Te gusta el deporte?</a></li>  
                        <li><a href="">Cursos de manualidades</a> </li>
                        <li><a href="">Chicas Gamer</a></li> 
                        <li><a href="">Patinaje</a> </li>
                        <li><a href="">ONG</a></li>                
                      </ul>
                  </div> 
                  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12"> 
      <p class="text-right">Informes-warmitrip@warmitrip.com</p>
         <hr>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >   
                  <ul class="list-li"> 
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"> </i></a></li>  
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                    <li><a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-play" aria-hidden="true"></i></a></li>  
                  </ul>
              </div>            
          </div>
    </div>
</div>              
                </div>
              </div>        
          </div>
      </div>

</footer>
<!-- Js de bootstrap-->
<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/home.js"></script>

</body>
</html>  