<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Hojas de estilo de Bootstrap  -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Estilo para los iconos -->
	<link rel="shortcut icon" href="../assets/icons/maleta.png" type="image/x-icon">
  <!-- Hojas de estilo personalizadas este proyecto  -->
  <link href="../css/main.css" rel="stylesheet">
  <title>Warmi-trip</title>
</head>

<body>
  <main>
    <div class="container margin-y ">
      <div class="row ">
        <!-- Imagen principal-->
        
          <div class="col-xs-12">
              <figure>
            <img src="../assets/img/logomujerchica.png" alt="Logo principal de warmi-trip" class="center-block img-responsive main-image">
          </figure>
          </div>
        
      </div>
      <!-- Grupo de botones-->
        <div class="row margin-x">
          <div class="col-xs-12">
            <a id="login" class="btn btn-success text-uppercase" role="button">Inicia con Google</a>
          </div>
        </div>

        <div class="row margin-x">
            <div class="col-xs-12">
              <a id="next" class="btn btn-success text-uppercase" role="button" href="home.html">Continuar</a>
            </div>
          </div>
    </div>
  </main>
  <!-- Js de Jquery-->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- Js de Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../js/connect.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>