<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>warmiaap</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/perfil.css">
</head>
<body>
<!--....................NAVBAR.............................-->
						<!---BARRA DE NAVEGACION-->
	<header class="container-img">

 
		<nav class="navbar-default navbar-fixed-top background-nav" role="navigation">
      <div class="container-fluid">
				<div class="navbar-header">
					<!-- clase pra cambiar de lugar el menu hamburgueza -->
					<div class="">
						<button type="button" class="navbar-toggle navbar-right collapsed" data-toggle="collapse" data-target="#myNavbar"
						 aria-expanded="false">
					<!--	<button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#myNavbar">-->
							<span class="sr-only">navegacion</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
              <span class="icon-bar"></span>
              
						</button>
						<div class="image-logo">
							<a class="navbar-brand" href="#">
							<!-- <img class="img-responsive" alt= "Brand" src="assets/images/logoForma.png"> -->
							</a>
					</div>
</div>
</div>
									<!--MENU-->
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li ><a href="#"><span>mis viajes</span></a></li>
						<li><a href="#"><span>mis amigos</span></a></li>          
            <li class="logo-login"><a href="#"><span><img class="img-responsive" src="../assets/img/user-female-icon.png" alt=""></span></a></li>
            
					 </ul>
				</div>
      </div>
     
<br>
<br>
<br>


    </nav>

    
    <div class="col-xs-12">
      <div class="form-fondo-one">
       
          <h1 class="text-logo text-center"> WARMI TRIP .....Disfruta, viaja, vive....!!! </h1>
          <br>
          <h1 class="text-center"> Great Destination for first time travellers</h1>
        
        
<div>
  <button class="btn btn-lg background-nav text-center style-btn" type="text"> Planifica tu viaje</button>
</div>

<div class="input-group center-block">
  <div class="input-group-addon">
    <span class="glyphicon glyphicon-user" aria-hidden="true"> Elige tu Destino</span>
  </div>
  <select class="form-control" id="select-ciudad">
    <option value="fem">Lima </option>
    <option value="man">Arequipa</option>
  </select>
</div>
</div>

      </div>
     
	</header>

<main class="main-fondo style-main">
    <br>
    <br>
    <br>
    
  <div class="container-fluid text border-post">
    <div class="row">
      <div class="col-xs-12">
        	<br><br>
        <h1 class="text">Postea mi muro!!!!</h1>
          <div class="container-post">
                <textarea name="" id="" class="post"></textarea>
            </div>
      </div>
      <div class="row">
      <div class="col-xs-4">
        <div class="photo  text "> 
          <h3>Sube tu Photo</h3>
          <img class="img-responsive center-block logo-login" src="../assets/img/user-female-icon.png" alt=""> 
        </div></div>

        <div class="col-xs-4">
          <div class="video center-block text">
            <h3>Sube tu video</h3>
            <img class="img-responsive center-block logo-login" src="../assets/img/user-female-icon.png" alt=""> 
          </div>

        
      </div>
      
    </div>
   
  </div>
  
  </div>


  <section class="container-img3">
 <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12">
       <h1 class="text-center text">  My friends traveled !!!!  </h1> 
       <br>
     </div>
   </div>

   <div class="row">
    <div class="col-xs-12 ">
      <div class="border-data-friends" >
          <figure>
          <img class="img-responsive width-icono-login " src="../assets/img/user-female-icon.png" alt="">
          </figure>
          <div>            
            <iframe class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.3069343745547!2d-71.981012385969!3d-13.516745890499859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd6739cd7f175%3A0x27c9a9082fc6343!2sPlaza+Mayor+de+Cusco!5e0!3m2!1ses-419!2spe!4v1515501514958"
              frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div>
            <button class="btn btn-sm background-nav text-center style-btn button-style-friends" type="text">click aqui</button>
          </div>
      </div>    
    </div>
    <div class="col-xs-12 ">
      <div class="border-data-friends">
        <figure>
          <img class="img-responsive width-icono-login" src="../assets/img/user-female-icon.png" alt="">
        </figure>
        <div>
          <iframe class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.3069343745547!2d-71.981012385969!3d-13.516745890499859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd6739cd7f175%3A0x27c9a9082fc6343!2sPlaza+Mayor+de+Cusco!5e0!3m2!1ses-419!2spe!4v1515501514958"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div>
          <button class="btn btn-sm background-nav text-center style-btn button-style-friends" type="text">click aqui</button>
        </div>
      </div>
    </div>
        <div class="col-xs-12 ">
          <div class="border-data-friends">
            <figure>
              <img class="img-responsive width-icono-login" src="../assets/img/user-female-icon.png" alt="">
            </figure>
            <div>
              <iframe class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.3069343745547!2d-71.981012385969!3d-13.516745890499859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd6739cd7f175%3A0x27c9a9082fc6343!2sPlaza+Mayor+de+Cusco!5e0!3m2!1ses-419!2spe!4v1515501514958"
                frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div>
              <button class="btn btn-sm text-center  button-style-friends" type="text">click aqui</button button-style-friends>
            </div>
          </div>
        </div>
        
            <div class="col-xs-12 ">
              <div class="border-data-friends">
                <figure>
                  <img class="img-responsive width-icono-login" src="../assets/img/user-female-icon.png" alt="">
                </figure>
                <div>
                  <iframe class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.3069343745547!2d-71.981012385969!3d-13.516745890499859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd6739cd7f175%3A0x27c9a9082fc6343!2sPlaza+Mayor+de+Cusco!5e0!3m2!1ses-419!2spe!4v1515501514958"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div>
                  <button class="btn btn-sm background-nav text-center style-btn button-style-friends" type="text">click aqui</button>
                </div>
              </div>
            </div>
   

 </div>
</section>

<!--footer-->
<footer class="container-footer">
  <div class="container-fluid">
    <div class="cont-footer ">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 ">
          <img class="img-logo-white img-responsive" src="assets/images/logoBlanco.png" alt="">
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-2 col-sm-offset-2 col-sm-3">
            <p class="date-footer">Viaja</p>
            <p class="date-footer">Conduce</p>
            <p class="date-footer">Ciudades</p>
            <p class="date-footer">Ciudades</p>
            <p class="date-footer">Entregas</p>
            <p class="date-footer">Còmo funciona?</p>
            <p class="date-footer">Paìses</p>
            <p class="date-footer">Seguridad</p>
          </div>
          <div class=" col-sm-3 visible-sm-block visible-md-block visible-lg-block">
            <p class="date-footer">Oportunidades</p>
            <p class="date-footer">Nuestra Historia</p>
            <p class="date-footer">Api-LabCAR</p>
            <p class="date-footer">Eventos</p>
            <p class="date-footer">Desarrolladores</p>
            <p class="date-footer">Servicios</p>
            <p class="date-footer">Laboratoria</p>
            <p class="date-footer">Coders</p>
          </div>
          <div class="col-sm-3">
          </div>
          <div class="img-footer img-footer-sm col-sm-3 visible-sm-block visible-md-block visible-lg-block">
            <img class="img-responsive" src="assets/images/enBadgeWebGeneric.png" alt="">
          </div>
          <div class="img-footer col-sm-3 visible-sm-block visible-md-block visible-lg-block">
            <img class="img-responsive" src="assets/images/appstore.png" alt="">
          </div>
          <div class="col-xs-2 ">
            <p class="date-footer"></p>
          </div>
          <div class="col-xs-6 col-sm-offset-1 col-sm-10">
            <ul class="list list-sm">
              <li>
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"> </i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-apple" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <hr class="visible-sm-block visible-md-block visible-lg-block">
            <h4 class=" footer-date visible-sm-block visible-md-block visible-lg-block">@ 2017 Labcar Tecnology Inc</h4>
            <div class="img-footer visible-xs-block">
              <img class="img-responsive" src="assets/images/enBadgeWebGeneric.png" alt="">
            </div>
            <div class="img-footer visible-xs-block">
              <img class="img-responsive" src="assets/images/appstore.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>






</main>

<div class="container-fluid">
 

	    <!-- Js de bootstrap-->
	<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Js para la página-->
    <!-- <script type="text/javascript" src="../js/app.js"></script> -->
</body>
</html>  