<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Warmi-Trip</title>
  <!-- Hojas de estilo para iconos -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="shortcut icon" href="../assets/icons/lyft-icon.png" type="image/x-icon">
  <!-- Hojas de estilo de Bootstrap  -->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
  />

  <!-- Fuentes externas  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <!-- Hojas de estilo personalizadas este proyecto  -->
  <link href="../css/main.css" rel="stylesheet">
</head>

<body>
  <!-- Menú navegador-->
  <nav class="navbar navbar-default ">
    <div class="container-fluid space-between align-items-center">
      <div class="row align-self-start">
        <div class="navbar-header">
          <a class="navbar-brand" href="main.html">
            <i class="glyphicon glyphicon-menu-left"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="navbar-text text-center">LOGO</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="navbar-text">Planifica tu próximo destino</h4>
        </div>
      </div>
    </div>
  </nav>
  <!-- Formulario de registro-->
  <main>
    <div class="container">
      <div class="row">
        <form class="container">

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <label for="txt-budget">¿Cuánto es nuestro presupuesto?</label>

                  <div class="input-group">

                    <span class="input-group-addon">$</span>
                    <input id="txt-budget" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">

              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <label for="txt-credit-card">¿Cómo lo financiamos?</label>
                  <input id="txt-credit-card" type="text" class="form-control" placeholder="Enter Card Number" />
                </div>
              </div>
              <div class="row ">
                <div class=" col-xs-3 col-md-3 col-sm-3 ">
                  <span class="help-block text-muted small-font"> Ex.Month</span>
                  <input type="text" class="form-control" placeholder="MM" />
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3">
                  <span class="help-block text-muted small-font"> Ex.Year</span>
                  <input type="text" class="form-control" placeholder="YY" />
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3 ">
                  <span class="help-block text-muted small-font"> CCV</span>
                  <input type="text" class="form-control" placeholder="CCV" />
                </div>
                <div class=" col-xs-2 col-md-3 col-sm-3 ">
                  <img src="../assets/img/credit-card.png" class="img-rounded icon margin-top" />
                </div>
              </div>
              <div class="row ">
                <div class="col-xs-12 margin-top">

                  <input type="text" class="form-control" placeholder="Name On The Card" />
                </div>
              </div>




            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <label for="txt-budget">¿Cuándo nos vamos?</label>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input id="datepicker1" type='text' class="form-control datepicker" readonly />
                  </div>
                </div>
                <div class="col-xs-6">
                  <label for="txt-budget">¿Cuándo llegamos?</label>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input id="datepicker1" type='text' class="form-control datepicker" readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-12">
                  <label for="txt-hotel">¿Elijamos el hotel?</label>

                  <input id="list-hotels" list="hotels" name="kind-of-food" class="form-control">
                  <datalist id="hotels">

                  </datalist>
                </div>

<!-- Modal -->
<div id="modal-hotel" class="modal">
    <div class="modal-content">
        <h4 id="title-modal" class="title-modal"></h4>
        <div id="modal-map" class="modal-map"></div>
                <div class="col-xs-12 outline text-center">
                    <div class="col-xs-5 outline">
                        <span class="help-block text-muted small-font margin-top"> Rating</span>
                                       
                                        <span id="stars">
                        
                                        </span>
                      </div>
    
                   
                      
                    
    
                      <div class="col-xs-3 outline text-center inline-block">
                          <div id="price-hotel" class="coin text-center ">
                              
                          </div>
                              
                      </div>
                      <div class=" col-xs-4 text-center outline">
                          <span id="tripadvisor" class="help-block text-muted small-font margin-top">
                              
                                              </span>
                      </div>

                </div>
                

                <div class="col-xs-12 outline text-center">

                  <div class="col-xs-2 outline text-center">
                      <span class="help-block text-muted small-font">
                          <img class="icon" src="../assets/img/wifi.png" />
                        </span>
                        <span id="wifi" class="text-center">
        
                        </span>
                  </div>
                  <div class="col-xs-2 outline text-center">
                      <span class="help-block text-muted small-font">
                          <img class="icon" src="../assets/img/breakfast.png" />
                        </span>
                        <span id="breakfast" class="text-center">
        
                        </span>
                  </div>

                  <div class="col-xs-8 text-center outline">
                      <span id="address" class="help-block text-muted small-font margin-top">
                          
                                          </span>
                  </div>
                

                </div>
   </div>
  </div>
<!-- Modal -->




              </div>
            </div>


        </form>


        </div>
      </div>

      <!-- Advertencia de código  erróneo-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12  text-center">
            <div id="danger" class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Warning!</strong> El dato ingresado es incorrecto.
            </div>
          </div>
        </div>
      </div>

      <!-- Botón Next-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12  text-center">
            <button id="btn-next" type="button" class="btn btn-default btn-lg btn-block text-uppercase bg-purple">next</button>
          </div>
        </div>
      </div>
  </main>
  <!-- Js de Jquery-->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- Js de bootstrap-->
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Js de bootstrap para datetimepicker-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

  <!-- Js de Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBrTZrmws7ldzVUz01pEXfux1uPe5vID3Q",
      authDomain: "warmi-trip-17f9d.firebaseapp.com",
      databaseURL: "https://warmi-trip-17f9d.firebaseio.com",
      projectId: "warmi-trip-17f9d",
      storageBucket: "warmi-trip-17f9d.appspot.com",
      messagingSenderId: "109955586871"
    };
    firebase.initializeApp(config);
  </script>
  <!-- Js para la página-->
  <script type="text/javascript" src="../js/planning.js"></script>
</body>

</html>