<!-- Suelta tus manos y tu mente para solucionar este reto -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>warmiaap</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../css/profile.css">
   
</head>
<body>
                           
<!--***** Navbar *********-->
   <div class="navbar navbar-default">   
        <div class="row">
            <div class="col-xs-12">               
                <div class="navbar-header">               
                    <div class="pull-rigth">
                        <button type="button " class="navbar-toggle btn-mobile" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                            
                        </button>
                    </div>
                        <div class="pull-right">
                            <a class="navbar-brand flex" href="#"> <img class="img-responsive" src="" alt=""></a>
                        </div>
                    </div>                  
                    <div class="navbar-collapse collapse navbar-ex1-collapse pull-right opaque-navbar">
                        <ul class="nav navbar-nav ">
                           <li><a href="../index.html"> <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></a></li>
                            <li><a href="#"> Home</a></li>
                            <li><a href="#"> <i class="fa fa-pencil" aria-hidden="true"> </i> Planea tu viaje</a></li>
                            <li><a href="#"> <i class="fa fa-plane" aria-hidden="true"> </i> Mis Viajes</a></li>
                            <li><a href="#"> <i class="fa fa-female" aria-hidden="true"></i> Amigas</a></li>
                            <li><a href="#"> <i class="fa fa-sign-in" aria-hidden="true"></i> SingOut</a></li>
                            <li class="img-li"><a href="#"> <img class= "img-responsive user" src="../assets/img/user-female-icon.png" alt=""> </a></li>
                            <li><a href=""> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></a></li>              
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

<!--Añadiendo slider-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="slider">
        <ul>
          <li><img class="img-responsive"
            src="../assets/img/andes.jpg" alt=""> <p class="dateImg text-center "> 
           Vive tu propia experiencia salvaje...Camina por los andes...</p> </li>
          <li><img class="img-responsive" src="../assets/img/paracas.jpg" alt=""><p class="dateImg text-center">
          Paracas full aventura..te atreverias?...</p></li>
          <li><img class="img-responsive" src="../assets/img/cusco.jpg" alt=""><p class="dateImg text-center">
           Cusco majestuoso...atrevete a visistarlo</p></li>
          <li><img class="img-responsive" src="../assets/img/trujillo.jpg" alt=""><p class="dateImg text-center">
         Conociendo nuestras costumbres...atrevete</p></li>
           <li><img class="img-responsive" src="../assets/img/huacachina.jpg" alt="">
         </li>                
        </ul>
      </div>
    <div class="dateIcon">
        <span class="btn"><a href=""> <i class="fa fa-facebook" aria-hidden="true"> </i></a></span>
        <span class="btn"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></span>  
        <span class="btn"> <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span class="btn"> <a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></span>
        <span class="btn"> <a href=""><i class="fa fa-play" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</div>

<!---->
<section>
    <div class="container-fluid sect-form">
      <div class="row">
        <div class="col-xs-12 col-sm-4 Visible-xs-block">
          <div class="section-form">
             <div> <img class="img-responsive user1" src="../assets/img/user-female-icon.png" alt=""> </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                    <button type="submit" class="btn btn-default">  Cambiar Foto de perfil </button>
                    </div>
                </div>
              <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label text-left">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="nombre">
                </div>
              </div>
              <div class="form-group">
                <label for="direccion" class="col-sm-2 control-label">Dircc</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="Direccion">
                </div>
              </div>
              <div class="form-group">
                <label for="fnac" class="col-sm-2 control-label">F.nac</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fnac" placeholder="Fecha Nacimiento">
                </div>
              </div>
              <div class="form-group">
                <label for="hobbie" class="col-sm-2 control-label">Hobbie</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fnac" placeholder="hobbie">
                </div>
              </div>
              <div class="form-group">
                <label for="hobbie" class="col-sm-2 control-label">L.F</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fnac" placeholder="Lugar Favorito">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Confirm
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="Guardar" class="btn btn-default">Guardar</button>
                </div>
              </div>
            </form>
            <div  class="section-form1">
              <div class="sect-color" >
                <h4 class="vw1"> Mis Viajes</h4>  
                <p class="vw"> Loreto Viaje Finalizado - 5 al 15 de Octubre del 2017</p>
                <p class="vw">Cuzco Viaje programado - 6 de Abril 2018</p>
                <hr>
              </div>
                <div class="icon-money">
                  <h4  class="vw1"> Quieres cambiar tu presupuesto?</h4>  
                  <span class="btn ">
                  <a href=""><i class="fa fa-money" aria-hidden="true"></i></a>
                  </span>
                </div>
              <div>
                 <button type="submit" class="btn btn-danger col-sm-12" id="btn-danger">!Peligro¡</button>
              </div>
            </div>
          </div>
       </div>  
      <!--columnay de slider y carga photos*********************************************-->
      <div class="col-xs-12 col-sm-8 Visible-xs-block">
          <div>
            <h3 class="text text-center">¡Compartamos información!</h3>
          </div>
          <div class="container-information">
            <ul class="nav nav-pills nav-justified publish">
              <li role="presentation" class="active">
                  <span class="glyphicon glyphicon-pencil">
                    <a href="#" data-toggle="modal" data-target="#myPublish"> !Publiquemos!</a>
                  </span>
              </li>
              <li role="presentation">
                  <span class="glyphicon glyphicon-camera">
                    <a href="#" data-toggle="modal" data-target="#myModal"> Sube Fotos...</a>
                  </span>
              </li>
              <li role="presentation">
                  <span class="glyphicon glyphicon-facetime-video">
                    <a href="#"> Video</a>
                  </span>
              </li>
            </ul>
          </div>
          <div class="slider">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>    
            
          </div>
        </div>
        <h1 class="vw2 text-center"> Warmi Trip Disfruta viaja vive....</h1>
        <div>
          <!--BTN Planifica-->
      
              <div class="input-group center-block">
                <span class=" btna"><a href=""><i class="fa fa-pencil" aria-hidden="true"> Planifica tu viaje AQUI</i> </a></span>
                <h3 class="vw1">Que lugares te gustaria conocer?</h3>
                <select class="form-control" id="select-ciudad">
                  <option value="Cajamarca">Cajamarca </option>
                  <option value="Cuzco">Cuzco</option>
                  <option value="Ica">Ica</option>
                </select>
              </div>
        </div>        
      </div>    
    </div>
  </div>
</section>

<!--Foter-->
<footer>
 <div class="container-fluid container-fo">  
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">  
       <div class="container-footer">
         <h4 class="text-center title-body-home"> Destinos</h4>      
          <hr>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">              
              <ul class="list-dest"> 
                <h3>Ica</h3>
              </ul>
            </div>
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">                      
                      <ul>
                      <h3 >Cajamarca</h3>                                
                      </ul>
                  </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">                      
                      <ul> 
                      <h3 >Cuzco</h3>                                                             
                      </ul>
                    </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">               
                    <h3>Actividades</h3>
                    <ul class="actividades"> 
                        <li><a href="" title="_En construccion">Unete a nuestra comunidad</li>
                        <li><a href="">Tips de Belleza</a></li>
                        <li><a href="">Te gusta el deporte?</a></li>  
                        <li><a href="">Cursos de manualidades</a> </li>
                        <li><a href="">Chicas Gamer</a></li> 
                        <li><a href="">Patinaje</a> </li>
                        <li><a href="">ONG</a></li>                
                      </ul>
                  </div> 
  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12"> 
      <p class="text-center info">Informes-warmitrip@warmitrip.com</p>
         <hr>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >   
                  <ul class="list-li"> 
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"> </i></a></li>  
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                    <li><a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-play" aria-hidden="true"></i></a></li>  
                  </ul>
              </div>            
          </div>
    </div>
</div>              
                </div>
              </div>        
          </div>
      </div>

</footer>
<!-- Js de bootstrap-->
<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/home.js"></script>

</body>
</html>  