<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft</title>
    <!-- Hojas de estilo para iconos -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/icons/lyft-icon.png" type="image/x-icon">
    <!-- Hojas de estilo de Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
    <!-- Fuentes externas  -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Hojas de estilo personalizadas este proyecto  -->
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- Menú navegador-->
    <nav class="navbar navbar-default ">
      <div class="container-fluid space-between align-items-center">
        <div class="row align-self-start">
          <div class="navbar-header">
            <a class="navbar-brand" href="register.html">
              <i class="glyphicon glyphicon-menu-left"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="navbar-text text-center">Verify phone number</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4 class="navbar-text">Join now for free ride credit</h4>
          </div>
        </div>
      </div>
    </nav>
    <!-- Formulario para ingresar el código generado -->
    <main>
      <div class="container">
        <div class="row">
          <div class="input-group col-xs-12 flex-center justify-center">
            <!-- Caja de texto en los que aparecera los códigos de países-->
            <div class="col-xs-2 col-sm-1">
              <h4 class="text-uppercase">lab-</h4>
            </div>
            <!-- Grupo de cajas de texto para ingresar el código enviado-->
            <div class="col-xs-3">
              <input type="text" class="form-control text-center" placeholder="1" aria-label="...">
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control text-center" placeholder="2" aria-label="...">
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control text-center" placeholder="3" aria-label="...">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h6></h6>
          </div>
        </div>
      </div>
      <!-- Indicación para enviar el código-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12  text-center">
            <div id="info" class="alert alert-info alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Info!</strong> Enter the code sent to <strong id="lbl-phone">+51 993622459</strong>
            </div>
          </div>
        </div>
      </div>
      <!-- Advertencia de código  erróneo-->
      <div class="container">
          <div class="row">
            <div class="col-xs-12  text-center">
              <div id="warning" class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> El dato ingresado es incorrecto.
              </div>
            </div>
          </div>
        </div>
      <!-- Botón Resend code-->
      <div class="container">
        <div class="row">
          <div class="col-xs-12  text-center">
            <button id="btn-resend" type="button" class="btn btn-default">Resend code</button>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="text-center">
              <h6></h6>
            </div>
          </div>
        </div>
      <!-- Botón Next-->
      <div class="container">
          <div class="row">
            <div class="col-xs-12  text-center">
              <button id="btn-next" type="button" class="btn btn-default btn-lg btn-block text-uppercase bg-purple">next</button>
            </div>
          </div>
        </div>
    </main>
    <!-- Js de Jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!-- Js de bootstrap-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Js para la página-->
    <script type="text/javascript" src="../js/verify.js"></script>
  </body>
</html>